@font-face {
  font-family: "pixelmix";
  src: url('../fonts/pixelmix.ttf');
  font-weight: normal;
  font-style: normal;
}

.app{
  min-height: 90vh;
  background-image: url(/ele/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}
.nav{
  height:55px;
  left:auto;
  padding-top:20px;
  padding-bottom:20px;
  margin-left: 84px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "pixelmix","Courier New", Courier, monospace;
}

.footer {
  display: flex;
  padding: 2rem 0;
  /* border-top: 1px solid #eaeaea; */
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.socialmediaBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.socialmediaIMG {
  width:auto;
  height:50px;
  padding-right:21px;
}


.title {
  position:absolute;
  top: 15%;
  left:11%;
  width: 50%;
  z-index:1;
}

.screenContainer{
  position: relative;
  text-align: center;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

.descriptionLarge {
  line-height: 1;
  margin: 3rem 0;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

.screenContent{
  position: absolute;
  width:40%;
  top: 45%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.screenFrame {
  width: 90%;
}

.screenPop {
  position:absolute;
  top:24%;
  right:9%;
  width: 25%;
}

.buttonContainer{
  position:fixed;
  height: auto;
  right:10%;
  bottom:10%;
  z-index:1;
  text-align: center;
  cursor: pointer;
}

.buttonImage{
  width: 55%;
}

.buttonText{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

@media (max-width: 800px) {
  .app{
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav{
    position:absolute;
    left:auto;
    top:32px;
    margin-left:13px;
  }


  .socialmediaIMG {
    width:auto;
    height:40px;
    padding-right:13px;
  }

  .title {
    top: 100px;
    width: 93%;
    left:4%;
  }

  .screenContainer{
    position: relative;
    margin-top:25%;
    width:160%;
    left:-30%;
    text-align: center;
  }
  .screenContent{
    position: absolute;
    width:40%;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
  }

  .description {
    line-height: 1;
    margin: 2rem 0;
    font-size: 1rem;
  }
  
  .descriptionLarge {
    line-height: 1;
    margin: 3rem 0;
    font-size: 2rem;
  }

  .screenPop {
    position:absolute;
    top:24%;
    right:-5%;
    width: 30%;
  }

  .buttonContainer{
    position:fixed;
    height: auto;
    right:0%;
    bottom:12%;
    z-index:1;

  }
  .buttonImage{
    width: 50%;
  }

  .footer {
    display: flex;
    padding: 4rem 0;
  }
}