.app{
  min-height: 90vh;
  background-image: url(/ele/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}
.nav{
  height:55px;
  left:auto;
  padding-top:20px;
  padding-bottom:20px;
  margin-left: 84px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.footer {
  display: flex;
  padding: 2rem 0;
  /* border-top: 1px solid #eaeaea; */
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.socialmediaBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.socialmediaIMG {
  width:auto;
  height:50px;
  padding-right:21px;
}


.title {
  position:absolute;
  top: 15%;
  left:11%;
  width: 50%;
  z-index:1;
}

.screenContainer{
  position: relative;
  text-align: center;
}

.screenContent{
  position: absolute;
  width:40%;
  top: 40%;
  left: 52%;
  transform: translate(-50%, -50%);
 
}

.screenFrame {
  width: 90%;
}

.screenPop {
  position:absolute;
  top:24%;
  right:9%;
  width: 25%;
}

.buttonContainer{
  position:fixed;
  height: auto;
  right:1%;
  bottom:10%;
  z-index:1;
  text-align: center;
  cursor: pointer;
}

.buttonImage{
  width: 90%;
}

.buttonText{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}